<% content_for :title, s_("MailTitle|Welcome to Sea for All!") %>
<p>
	<%= s_("MailBody|Welcome and thanks for joining SeaForAll!") %>
</p>
<p>
	<%= _("You can register blablah") %>
</p>
<p>
	<%= _("Thank you,") %>
</p>