<h1><%= _("Welcome %{user}!!") %{user: @user.email} %></h1>

<p><%= _("Thanks for joining Sea for All, the best community of people who love boats and who share boats for boating together on boats.") %></p>

<p><%= _("You should check out this welcome video: ") %> <%= link_to "https://youtu.be/avaSdC0QOUM", "https://youtu.be/avaSdC0QOUM" %></p>