<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>Editing Boat Features Set</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @boat_features_set %> |
			<%= link_to 'Back', boat_features_sets_path %>
		</div>
	</div>
</div>