// $black: rgba(0,0,0,.87);
// $blue: #3A8CC2;
// $darkblue: #104466;
// $orange: #E69A15;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
h1, h2 {
  font-family: 'Pathway Gothic One', sans-serif;
}
h2 {
  font-size: 33px;
  font-weight: bold;
}
.language {
  color: #fff;
}
.language:hover {
  background: none !important;
  color: #fff !important;
  text-decoration: underline !important;
}
#hero {
  text-shadow: 0 1px 1px rgba(0,0,0,0.7);
  height: 550px;
  background: url("https://sfa-static.s3.amazonaws.com/img/hero-20160427.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 40px;

  .logo {
    position: relative;
    top: 0;
    z-index: 255;
    width: 500px;
  }
  .hero-background {
    background: rgba(10,113,180,0.1);
    position: absolute;
    width: 100%;
    height: 550px;
    z-index: 1;
    top: 0;
  }
  .container {
    position: relative;
    z-index: 256;
    text-align: center;
    .container a {
      color: white;
    }

    h1, h2, h3 {
      color: #fff;
    }
    h1 {
      margin: 0 auto;
      padding: 20px 0 0 0;
      font-size: 50px;
    }
    h3 {
      line-height: 1.3em;
      padding-left: 0;
      margin-top: 1.2em;
      margin-bottom: 0.5em;
      font-size: 20px;
      letter-spacing: 1px;
    }
    #how-it-works-btn {
      margin-top: 50px;
      @extend .btn, .btn-primary, .btn-lg;
      border: 1px solid white !important;
      border-radius: 5px !important;
      font-size: 22px;
    }
  }
}

ul, li {
  list-style-type: none;
  padding: 0;
}

#home-features {
  background: #fff;
  color: #0a71b4;
  position: relative;
  padding: 2em 0;
}

.description-icon {
  img {
    width: 200px;
    display: inline-block;
  }
}

.container-handshake {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, #0F75BC 50%, $orange 50%);
  display: inline-block;
}

.circle-handshake {
  margin-top: 55px;
  width: 150px;
  fill: white;
}

footer {
  display: block;
  background: $darkblue;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  margin-top: 20px;
  i, a {
    color: white;
    &:hover {
      text-decoration: none;
      color: lightBlue;
    }
  }
  .language-select {
    margin-top: 1em;
  }
  .center-links {
    @extend .text-center;
  }
  .right-links {
    @extend .text-right;
    margin-top: 1em;
  }
  .icons {
    i {
      padding: 0 .2em;
    }
  }
  .footer-dropdown {
    @extend .btn;
    @extend .btn-default; 
    @extend .dropdown-toggle;
    background: $blue;
    color: white;
  }
}

@media screen and (max-width: 610px) {
  .bordino-mail {
    border: none;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: auto;
    margin: auto;
  }
  #hero .logo {
    width: 80%;
  }
  #hero h1 {
    font-size: 40px;
  }
  #hero input,
  .mc-field-group input,
  #hero select,
  .mc-field-group select {
    width: 100%;
  }
}

.cookies-eu {
  background: $orange;
  font-size: 13px;
  .cookies-eu-button-holder .cookies-eu-ok {
    border: 1px solid #848484 !important;
    background: #848484 !important;
    font-size: 13px;
  }
  .cookies-eu-link:hover {
    background: none;
    color: lightblue;
  }
}

.welcome-title {
  margin-top: 4em;
}

#best-offers {
  padding-bottom: 2em;

  h2 {
    margin-top: 2em;
    margin-bottom: 1.8em;
  }

  .boat-offer {
    display: block;
  }

  .picture-offer {
    width: 100%;
    height: 300px;
  }

  .boat-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
    font-size: 32px;
    color: white;
    letter-spacing: 1px;
  }

  .more-boats {
    margin-top: 2em;
    .btn {
      background: #0f75bc;
      color: white;
      font-size: 18px;
    }
  }
}

#call-to-action-bottom {
  background: linear-gradient(rgba(41, 41, 41, 0.39), rgba(0, 0, 0, 0.2)), url('https://sfa-static.s3.amazonaws.com/img/bg-host.jpg') center center; background-size: cover;
  padding: 6em 0 5.8em 0;

  p,h2 {
    color: white;
    text-align: center;
  }

  .btn {
    height: 44px;
    font-size: 19px;
    background: $darkorange;
    color: white;
    margin-top: 1em;
  }

  .host-content {
    padding-top: 10em;
  }
}

@media screen and (max-width: 767px) {
  #call-to-action-bottom {
    padding-right: 15px;
    padding-left: 15px;
  }

  .language-select {
    text-align: center;
  }
}
