.search-form {
  margin-top: 2em;
  .input-group {
    margin: auto;
    max-width: 600px;
    input {
      font-size: 19px;
      height: 44px;
      border-radius: 4px 0 0 4px;
      border: 0;
    }
  }
  .btn {
    height: 44px;
    font-size: 19px;
    background: $darkorange;
    color: white;
    border: 0;
    text-shadow: none;
    border-radius: 0 4px 4px 0;
  }
}

// Styles for Google Autocomplete
// Don't touch unless you know what you are doing
.pac-icon {
  background: image-url('sfa-pin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4px;
}

.pac-item-selected .pac-icon {
  background-position: center;
}

@media screen and (min-width: 768px) {
  input#boat-search-bar {
    width: 350px;
  }
}