<% content_for :title, s_("BookingCanceledMailTitle|Booking canceled for %{boat_name}") %{boat_name: @boat.name} %>
<% content_for :logo_img, @receiver == @guest ? "orange" : "blue" %>
<% if @receiver == @guest %>
 	<%# Guest %>
	<p>
		<%= s_("BookingCanceledMailBody|One of your bookings for %{boat_name} has been canceled" %{host_name: @host.name, boat_name: @boat.name}) %>
	</p>
<% else %>
	<%# Host %>	
	<p>
		<%= s_("BookingCanceledMailBody|One of your bookings for %{boat_name} has been canceled" %{host_name: @host.name, boat_name: @boat.name}) %>
	</p>
<% end %>

<%= render 'shared/booking_table' %>

<h1 class="read-message-btn">
  <%#= NOTE: the usual url boat_booking_url(@boat, @booking) doesn't work here %>
  <%= link_to s_("BookingCanceledMailBody|Go to the booking"), boat_booking_url(boat_id: @boat.id, id: @booking.id) %>
</h1>