<% title s_("Title|Bookings for %{boat_name}") %{boat_name: @boat.name} %>
<% current_user_navbar active_bc_title: _("Bookings"), display: 'calendar' %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1><%= _("Bookings for %{boat_name}") %{boat_name: @boat.name} %></h1>
    </div>
  </div>
  <%= render 'bookings_list_by_state' %>
</div>