<% title _("Bookings for %{user_name}") %{user_name: @current_user.name} %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1><%= _("My bookings") %></h1>
		<% if @bookings.any? %>
			<%= render 'bookings_list', bookings: @bookings %>
		<% else %>
			<p><%= _("You have no bookings") %></p>
		<% end %>
	</div>
</div>