<div class="row">
  <div class="col-xs-9">
    <ol class="breadcrumb">
      <%= render_breadcrumbs tag: :li, separator: "" %>
    </ol>
  </div>
  <div class="col-xs-3 text-right hidden-xs">
  	<% if can? :edit, @boat %>		
	  	<% if display == 'calendar' %>
	  		<%= link_to fa_icon('calendar'), boat_days_path(@boat), class: 'btn btn-primary btn-lg' %>
	  	<% end %>
	  	<% if display == 'list' and @boat.bookings.any? %>
	      <%= link_to fa_icon('list-ul'), boat_bookings_path(@boat), class: 'btn btn-primary btn-lg' %>
	    <% end %>
  	<% end %>
  </div>
</div>