<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<h3>
        Welcome <%= current_user.first_name %>,
      </h3>
      <p class="lead">
        register your boat to start renting it. It's super easy: in a minute you will be ready to rent.
      </p>
      <p><%= link_to 'Start register', new_boat_path, class: 'btn btn-success btn-lg' %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Your boats</h2>
    </div>
    <% current_user.boats.each do |boat| %>
    <div class="col-sm-3">
      <%= boat.name %>
    </div>
    <% end %>
  </div>
  <hr>
  <div class="row">
   <div class="col-sm-12">
     <h2>Curious about other boats? <%= link_to 'Check it out', boats_path %></h2>
   </div>
 </div>
</div>