<div class="container">
  <div class="row">
    <div class="col-sm-10">
    	<h1>Dude, rent your boat NOW!</h1>
    	<p><%= link_to 'Click here!!', new_boat_path, class: 'btn btn-success btn-lg' %></p>
    </div>
  </div>
  <div class="row">
	  <div class="col-sm-10 col-sm-offset-2">
	    <h1>A lot of boats - Ready for your perusal! <%= link_to 'See here', boats_path %></h1>
	  </div>
	</div>
</div>