<h2>Assicurazione Sea for All</h2>
<%# TODO: tenere aggiornato e usare sempre tono non negativo %>
<p>
  Il team di Sea for All è al lavoro per trovare la migliore soluzione assicurativa per <%= guest ? "te" : "la tua barca" %>, perché vogliamo che <%= guest ? "la tua esperienza con Sea for All sia" : "tu e la tua barca siate" %> al riparo da ogni possibile problema.
</p>
<p>
  Ti terremo costantemente aggiornato tu tutte le novità in merito all'Assicurazione.
</p>