<h2>Dotazioni di Sicurezza</h2>
<p>
  Ogni imbarcazione iscritta su Sea for All <%= guest ? "è" : "deve essere" %> equipaggiata delle dotazioni di sicurezza previste dalla Guardia Costiera (disponibili a <%= link_to " questo link", "http://www.guardiacostiera.it/maresicuro/downloads/dotazionidisicurezza_upd20042010.pdf" %>).
</p>
<p>
  Il proprietario dovrà perciò garantire di essere in regola dimostrando e segnalando la posizione dell'equipaggiamento di sicurezza sulla barca.
</p>
<p>
  L'unità da diporto fornita di motore (di qualsiasi potenza) <%= guest ? "ha" : "deve avere" %> l'Assicurazione RC obbligatoria, come previsto dalla legge.
</p>