<div class="help-call-to-action white-box">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h2>Hey caro amico!</h2>
			<p class="help-cta-container">Grazie alla puntuale spiegazione sarai sicuramente convinto delle peculiarità che contraddistinguono questo innovativo servizio! Che ne dici di provarlo?</p>
			<p>
				<button class="btn btn-primary btn-lg">
					Ma certo!
				</button>
			</p>
		</div>
	</div>
</div>