<!-- Noleggio Modal -->
<div class="modal fade" id="noleggioModal" tabindex="-1" role="dialog" aria-labelledby="noleggioModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Noleggio</h2>
      </div>
      <div class="modal-body">
        <p>
        	Con il noleggio il proprietario dell'unità da diporto (<em>il noleggiante</em>) mette a disposizione dell'altra parte (<em>il noleggiatore</em>) la propria barca per un determinato periodo di tempo da trascorrere a scopo ricreativo in zone marine o acque interne di sua scelta, da fermo o in navigazione a fronte di un determinato corrispettivo (<em>nolo</em>).
        </p> 
        <p>
        	L'unità noleggiata rimane nella disponibilità del noleggiante alle cui dipendenze resta anche (l'eventuale) equipaggio.
        </p>
				<p>
					Il noleggiante si obbliga a compiere con l'unità da diporto una determinata navigazione ordinata dal noleggiatore con il mantenimento della disponibilità e della conduzione tecnica dell'unità da diporto.
				</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Capito!</button>
      </div>
    </div>
  </div>
</div>

<!-- Locazione Modal -->
<div class="modal fade" id="locazioneModal" tabindex="-1" role="dialog" aria-labelledby="locazioneModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Locazione</h2>
      </div>
      <div class="modal-body">
        <p>
          Con locazione è intesa la cessione dell'unità da diporto da parte del proprietario (<em>locatore</em>) alla controparte (<em>conduttore</em>) per un periodo di tempo concordato al termine del quale essa deve venir restituita al locatore.
        </p> 
        <p>
          Il conduttore diventa pertanto il comandante dell'unità da diporto, il quale si assume ogni onere e rischio connesso con la navigazione.
        </p>
        <p>
          Il locatore quindi consegue un corrispettivo ma rimane estraneo all'utilizzo dell'unità di navigazione.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Capito!</button>
      </div>
    </div>
  </div>
</div>

<!-- Noleggio occasionale Modal -->
<div class="modal fade" id="noleggioOccasionaleModal" tabindex="-1" role="dialog" aria-labelledby="noleggioOccasionaleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Noleggio occasionale</h2>
      </div>
      <div class="modal-body">
        <p>La legge sul noleggio occasionale è in vigore dal 25 marzo 2015.</p>
        <p>
          Al fine di incentivare la nautica da diporto e il turismo nautico, il proprietario dell'imbarcazione può effettuare, in forma occasionale, attività di noleggio. Tale forma di noleggio non costituisce uso commerciale dell'unità.
        </p> 
        <p>
          Il comando e la condotta dell'imbarcazione da diporto possono essere assunti dal titolare, o attraverso l'utilizzazione di altro personale, con il solo requisito del possesso della patente nautica. Qualora sia utilizzato personale diverso, le relative prestazioni di lavoro si intendono comprese tra le prestazioni occasionali di tipo accessorio e ad esse si applicano le disposizioni di cui all'articolo 72 del citato decreto legislativo n. 276 del 2003.
        </p>
        <p>
          L'effettuazione del noleggio è subordinata esclusivamente alla previa comunicazione, da effettuare mediante modalità telematiche, all'Agenzia delle entrate e alla Capitaneria di porto territorialmente competente, (nonché all'Inps ed all'Inail, nel caso di impiego di personale).
        </p>
        <p>
          Il modulo da compilare <%= link_to 'scaricabile online', 'http://www.ucina.net/it/noleggio-occasionale/viewcategory/24-noleggio-occasionale', target: '_blank' %>.
          <br>
          I proventi derivanti dall'attività di noleggio sono soggetti ad una tassazione del 20%, con esclusione della detraibilità o deducibilità dei costi e delle spese sostenute relative all'attività di noleggio.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Capito!</button>
      </div>
    </div>
  </div>
</div>