<h2>Noleggio e Locazione</h2>
<p>
  Le barche presenti su Sea for All possono essere disponibili per la <strong>locazione</strong>, il <strong>noleggio</strong> o <strong>entrambe le soluzioni</strong>.
</p>
<%# TODO: nota su linguaggio legalese %>
<p>
  Con <strong>LOCAZIONE</strong> è intesa la cessione dell'unità da diporto da parte del proprietario (<em>locatore</em>) alla controparte (<em>conduttore</em>) per un periodo di tempo concordato al termine del quale essa deve venir restituita al locatore.
</p>
<p>
  Il conduttore diventa pertanto il comandante dell'unità da diporto, il quale si assume ogni onere e rischio connesso con la navigazione. Il locatore quindi consegue un corrispettivo ma rimane estraneo all'utilizzo dell'unità di navigazione.
</p>
<p>
  Con il <strong>NOLEGGIO</strong> il proprietario dell'unità da diporto (il <em>noleggiante</em>) mette a disposizione dell'altra parte (il <em>noleggiatore</em>) la propria barca per un determinato periodo di tempo da trascorrere a scopo ricreativo in zone marine o acque interne di sua scelta, da fermo o in navigazione a fronte di un determinato corrispettivo (<em>nolo</em>). L'unità noleggiata rimane nella disponibilità del noleggiante alle cui dipendenze resta anche (l'eventuale) equipaggio.
</p>
<p>
  Il noleggiante si obbliga a compiere con l'unità da diporto una determinata navigazione ordinata dal noleggiatore con il mantenimento della disponibilità e della conduzione tecnica dell'unità da diporto.
</p>