<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat_category.name %>
</p>

<%= link_to 'Edit', edit_boat_category_path(@boat_category) %> |
<%= link_to 'Back', boat_categories_path %>
