<div class="panel panel-danger">
  <div class="panel-heading">
    <p class="panel-title"><strong><%= _("Complete your profile") %></strong></p>
  </div>
  <div class="panel-body">
    <%= _("You must complete your profile both for booking a boat and for publishing your own boat.") %>
    <%= link_to(_("Complete your profile"), edit_user_registration_path, class: 'btn btn-info btn-sm pull-right') %>
  </div>
</div>