<% title s_("Title|Not Found") %>
<div class="container-fluid white-box error-box">
	<div class="row">
		<div class="col-md-6">
			<h1><%= s_("ErrorPage|Oh no!") %></h1>
			<p class="lead"><%= s_("ErrorPage|We can't seem to find the page you're looking for.") %></p>
		</div>
		<div class="col-md-6">
			<div class="error-image">
				<%= inline_svg 'np-not-found', class: 'error-svg', nocomment: true %>
			</div>
		</div>
	</div>
</div>