// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boat-card-wrapper {
  margin-bottom: 1em;

  .complete-profile {
    margin-bottom: 0;
    a {
      width: 100%;
      border-radius: 0;
    }
  }
}

.boat-card {
  background: white;
  position: relative;
  padding-bottom: 1em;

  .boat-owner {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1;
  }

  .boat-price {
    position: absolute;
    top: 148px;
    font-size: 37px;
    font-weight: 300;
    right: 0;
    text-align: right;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.701961);
    z-index: 1;
  }

  h3, p {
    margin-bottom: 0;
    padding: 0 17px;
  }

  .boat-model {
    @extend .ellipsized;
    margin-top: 10px;
    font-weight: bold;
    font-size: 28px;
  }

  .boat-name, .boat-place {
    @extend .ellipsized;
    margin-top: 0;
    font-weight: 200;
    font-size: 18px;
  }

  a {
    color: $black;
    font-weight: bold;
    // text-transform: capitalize;
  }

  a:hover {
    text-decoration: none;
  }

  .picture {
    overflow: hidden;
    height: 200px;
    width: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
  }

  .btn.btn-boat-card {
    @extend .btn-primary;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    &.btn-availability {
      right: 10px;
    }
    &.btn-bookings {
      right: 70px;
    }
  }
}

.boat-list {
  margin-bottom: 1em;

  a {
    text-decoration: none;
  }

  .boat-list-wrapper {
    background: white;

    h3, p {
      padding-left: 10px;
      padding-right: 10px;
      text-transform: capitalize;
      color: black;
    }

    h3 {
      margin-top: 15px;
      margin-bottom: 0;
    }

    p {
      padding-bottom: 10px;
    }

    .list-img {
      height: 180px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

span.boat-input-group-addon {
  width: 42px;
}


.saving {
  color: $brand-success;
  padding-left: 10px;
}

.last-update {
  font-size: small;
  text-decoration: underline;
  color: grey;
}

.boat-edit {
  @extend .row;
}

.boat-launch {
  fill: $darkblue;
  height: 5em;
}

.btn-boat-new {
  @extend .btn, .btn-lg, .btn-success, .btn-block;
  margin-top: 1em;
}