// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boat-card {
  .picture {
    overflow: hidden;
    height: 300px;
    width: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
    h3 {
      padding-left: 5px;
      position: absolute;
      bottom: .1em;
      text-shadow: 0 1px 2px black;
      a {
        color: white;
      }
    }
  }
}

.carousel#boat-photos-carousel {
  height: 500px;
  .carousel-inner {
    height: 100%;
    img {
      width: 100%;
    }
  }
}