// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boat-card {
  .picture {
    overflow: hidden;
    height: 200px;
    width: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
    a {
      color: $black;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.carousel#boat-photos-carousel {
  height: 500px;
  .carousel-inner {
    height: 100%;
    img {
      width: 100%;
    }
  }
}