// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.booking-date-picker {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 5px 0;
  background-color: #f6f6f6;

  p {
    margin: 0;
  }

  .chevron-expand {
    transition: transform .1s ease;
  }

  .bootstrap-datetimepicker-widget {
    transition: all .3s ease;
    overflow: hidden;
    height: 300px; //fixed so that animations work
  }

  .day {
    border-radius: 0;
    // background-color: #3AC24B;
    background-color: white;
    border: 1px solid #ddd;

    &:hover {
      background: $blue !important;
      color: white;
    }
  }

  .day.disabled {
    // background-color: red;
    background-color: transparent;
    opacity: .2;
  }
}

.panel-contacts {
  font-size: .8em;
  color: gray;
  a {
    color: gray;
  }
}

.form-group.booking_people_on_board {
  text-align: center;
  .slider {
    margin-top: 25px; // to allow space for the tooltip
    width: 90%;
  }
}

.booking-info, .booking-card {
  border: thin solid lightgray;
  border-radius: 3px;
  background: white;

  .booking-status {
    top: -7px;
    position: relative;
    font-size: 16px;
    border-bottom: thin solid lightgray;
    text-align: center;
    color: white;

    i {
      margin-right: 5px;
      position: relative;
      top: 5px;
    }
  }

  a {
    display: inline-block;
  }

  .boat-recap {
    cursor: pointer;
    border-bottom: thin solid lightgray;
    padding-bottom: 10px;
    cursor: pointer;

    &:hover {
      background: #F7F7F7;
    }
  
    .recap-avatar {
      height: 100px;
      width: 100px;
    }

    .booking-boat-media {
      margin-top: 10px;
      padding: 5px;
      color: $black;
      font-weight: bold;      
    }
  }

  .booking-duration, .booking-people-on-board {
    border-bottom: thin solid lightgray;
  }
  .booking-duration {
    border-right: thin solid lightgray;
  }

  .booking-total-price {
    padding-top: 20px;
    border-top: thin solid lightgray;
  }

  .booking-reviews {
    padding-top: 10px;
    border-top: thin solid lightgray;
  }

  .booking-total-price, .booking-duration, .booking-people-on-board {
    text-align: center;
    margin-top: -5px;
    .price {
      margin-top: -15px;
      font-size: 2.5em;
      font-weight: 700;
    }
    .duration, .people-on-board {
      margin-bottom: -5px;  
      font-size: 2em;
      font-weight: 700;
    }
  }

  .booking-actions {
    .accept {
      text-align: center;
    }

    .reject {
      text-align: right;
    }

    .cancel {
      text-align: right;
    }
  }
}

.booking-dates {
  padding-top: 10px;
  padding-bottom: 5px;
}

.state-background-pending {
  background: $booking-pending-color;
}

.state-background-accepted {
  background: $booking-accepted-color;
}

.state-background-rejected {
  background: $booking-rejected-color;
}

.state-background-canceled {
  background: $booking-canceled-color;
}

.list-group-item, .list-group {
  border-radius: 0 !important;
}

.list-group-item.accepted {
  border-left: 5px solid #27ae60;
}

.list-group-item.rejected {
  border-left: 5px solid #e74c3c;  
}

.list-group-item.canceled {
  border-left: 5px solid grey;  
}

.list-group-item.pending {
  border-left: 5px solid $orange;  
}

.list-group-item.host {
  border-right: 5px solid $blue;  
}

.list-group-item.guest {
  border-right: 5px solid $orange;  
}

.list-group-item {
  h3 {
    margin-top: 10px;
  }
}

.list-group-item-heading {
  font-weight: bold;
}

.state-anchor {
  position: absolute;
  top: -50px;
}
