nav.current-user-navbar.navbar {
	background: white;
	margin-top: -20px;
	ul.nav.navbar-nav {
		li {
			&:last-child {
				a:after {
					content: none;
				}
				&:first-child {
					a{
						padding-left: 0;
					}
				}
			}
		}
		li a {
			padding-right: 4px;
			padding-left: 3px;
			
			&:after {
					content: " >";
			}
		}
	}
}