.dashboard {

	.bookings-container {
		@extend .container-fluid, .white-box;
		margin-bottom: 10px;
		border: 2px solid $orange;
	}

	.boats-container {
		@extend .container-fluid, .white-box;
		margin-bottom: 10px;
		border: 2px solid $blue;
	}

	.bookings-panel {
		@extend .panel, .panel-default;
		.panel-heading {
			&.panel-guest {
				background-color: $orange;
			}
			&.panel-host {
				background-color: $blue;
			}
			.panel-title {
				color: white;
				font-size: 20px;
			}
		}
	}

	.boats-panel {
		@extend .panel, .panel-default;
		.panel-heading {
			background-color: $blue;
			.panel-title {
				color: white;
				font-size: 20px;
			}
		}
	}

	.welcome {
		background: white;
		.btn {
			margin-top: 1em;
		}
	}

	.incomplete-header {
		margin-top: 1em;
		background: $orange;
		padding-top: 10px;
		padding-bottom: 5px;
		color: white;
	}

	.incomplete-list {
		margin-top: .5em;
	}

	.incomplete-profile {
		@extend .alert, .alert-warning;
		margin-top: 1em;
	}

	.no-boats {
		@extend .alert, .alert-info;
	}	
}

.wave {
	position: absolute;
	top: -7px;
  right: 20px;
  height: 10px;
}
