.dashboard-welcome {
	background: white;
	.btn {
		margin-top: 1em;
	}
}

.dashboard-incomplete {
	background: $orange;
	padding: 10px 10px 5px 10px;
	color: white;
}

.dashboard-incomplete-profile {
	@extend .alert, .alert-warning;
	margin-top: 1em;
}

.dashboard-no-boats {
	@extend .alert, .alert-info;
}

.wave {
	position: absolute;
	top: -7px;
  right: 20px;
  height: 10px;
}