$bookedColor: #3AC24B;
$pendingColor: $orange;

.fc-calendar .fc-row {

  div>a.link-to-booking {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .unavailable-day {
    opacity: .2;
    // cursor: not-allowed;
  }

  .booked-day {
    .fc-date, .fc-weekday {
      color: white;
      text-shadow: none;
    }
    &.pending-day {
      background: $pendingColor;
    }
    &.accepted-day {
      background: $bookedColor;
    }
  }

}

.row.calendar-legend {
  margin-top: 1em;
  .fa-2x {
    line-height: inherit;
    vertical-align: middle;
  }
  .available-day .fa {
    color: white;
  }
  .unavailable-day .fa {
    color: $black;
    opacity: .2;
  }
  .pending-day .fa {
    color: $pendingColor;
  }
  .accepted-day .fa {
    color: $bookedColor;
  }
}

@media screen and (max-width: 480px) {
  .calendar-col {
    padding: 0;
  }
  .fc-calendar-container {
    padding: 0;
    .fc-head {
      display: none;
    }
  }
}
