.fc-calendar .fc-row {

  .unavailable-day {
    opacity: .2;
    cursor: not-allowed;
  }

  .available-day {
    background: #3AC24B;
    .fc-date, .fc-weekday {
      color: white;
      text-shadow: none;
    }
  }

}
