// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-box {
	h1 {		
    font-size: 5em;
    font-weight: 600;
    color: grey;
	}
	
	.error-svg {
		fill: $darkorange;
	}
}