// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-box {
	h1 {		
    font-size: 124px;
    font-weight: 600;
    color: grey;
	}

	ul {
		padding-left: 2em;
	}

	.error-image {
		margin-top: 20px;
	}

	.error-svg {
		fill: $darkorange;
	}

	.error-msg {
		font-size: 28px;
	}

	#contact-us {
		font-size: 16px;
	}

	.useful-links {
		@extend .hidden-xs, .hidden-sm;
		p, ul {
			font-size: 16px;
		}
	}

	@media screen and (max-width: 768px) {
		h1 {
			font-size: 80px;
		}
	}
}