// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description-icon img {
  width: 50%;
  display: inline-block;
}

html {
	position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 150px;
}

footer {
	display: block;
  background: $blue;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  i, a {
  	color: white;
  }
  .language-select {
    margin-top: 1em;
  }
}

.boat-search-subtitle {
  padding: 10px;
  width: 100%;
  margin: 0 auto 1em auto;
  text-align: center;
  color: white;
  background-color: #fab647;
  p {
    margin: 0;
  }
}