.search-container {
  padding-top: 20px;
  padding-bottom: 20px;
  .btn.btn-default {
    background-color: $darkorange;
    font-size: 18px;
  }
  p.search-result-message {
    padding-top: 1em;
    font-size: 1.2em;
    font-weight: 500;
  }
}

.search-form {
  width: 100%;
  margin: auto;
  .form-control {
    font-size: 20px;
    height: 40px;
    border-radius: 0;
  }
  .btn {
    height: 40px;
    margin-bottom: 3px;
    background-color: $darkorange;
    color: white;
  }
}

// Styles for Google Autocomplete
// Don't touch unless you know what you are doing
.pac-icon {
  background: image-url('sfa-pin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 4px;
}

.pac-item-selected .pac-icon {
  background-position: center;
}


@media screen and (min-width: 767px) {
  input#boat-search-bar{
    width: 470px;
  }
}