.white-box {
	background: white;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
}

.gray-box {
	background: gray;
  padding: 20px;
  border-radius: 5px;
  color: white;
  a {
  	color: white;
  }
}