#navbar .user-avatar {
  height: 24px;
  border-radius: 100%;
  margin-left: 5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.signup-subtitle, .login-subtitle {
  font-size: smaller;
  color: gray;
  a {
    font-weight: bold;
  }
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
}

p.legal-acceptance {
  font-size: small;
  text-align: center;
}