// Colors

$black: rgba(0,0,0,.87);
$blue: #3A8CC2;
$darkblue: #104466;
$orange: #FAB647;
$darkorange: #FCA039;

$booking-pending-color: #FAB647;
$booking-accepted-color: #27ae60;
$booking-rejected-color: #e74c3c;
$booking-canceled-color: grey;