<% title s_("Title|Privacy Policy") %>
<div class="row">
	<div class="col-sm-12">
		<h1 class="text-center"><%= s_("Title|Privacy Policy") %></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<% unless I18n.locale == :it %>
			<div class="alert alert-info">
				<p>
					Our <strong>Privacy Policy</strong> is written only in Italian at the moment. It basically says that your personal data are safe in our hosting servers and that we will never give them to any third party. We will always use your personal to deliver the best service to you and all our users.
					<br>
					Sorry for the inconvenience.
				</p>
				<p>
					<small>-- the team of Sea for All</small>
				</p>
			</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<p class="lead"><strong>Sea for All</strong> non fornisce né fornirà mai a terze parti i dati degli utenti iscritti. L'unico uso che <strong>Sea for All</strong> fa e farà dei dati personali degli utenti è per fornire loro il miglior servizio possibile. Sempre.</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		
		<p>
			Ai sensi e per gli effetti dell’art. 13 del D. Lgs. 196/2003, La informiamo che i Suoi dati personali formano oggetto, nel rispetto delle idonee misure di sicurezza e protezione, di trattamenti manuali e/o elettronici da parte di <strong>Sea for All</strong> <%# TODO: SRL %> per fornirLe i servizi richiesti e, solo con il Suo espresso consenso, per effettuare attività di analisi sulle scelte di consumo e per l’invio di informazioni commerciali. Il conferimento dei Suoi dati è obbligatorio e, pertanto, il mancato conferimento di tali dati comporterà l’impossibilità di fornirLe il servizio richiesto.
		</p>
		<p>
			I Suoi dati personali non saranno diffusi; potranno essere da noi comunicati esclusivamente a soggetti specificatamente indicati quali subfornitori/subappaltatori ove impegnati in attività connesse all’esecuzione del contratto, persone, società o studi professionali che prestano attività di consulenza ed assistenza nei confronti di <strong>Sea for All</strong>, in qualità di Responsabili del trattamento. Con il suo consenso, inoltre, potranno essere comunicati a società terze per finalità promozionali. Resta inteso che il consenso è facoltativo e si riferisce al trattamento dei dati ad eccezione di quelli strettamente necessari per le operazioni ed i servizi da Lei richiesti al momento della Sua adesione in quanto per queste attività il Suo consenso non è necessario. Il titolare del trattamento è <strong>Sea for All</strong> <%# TODO: SRL %>.  L’elenco aggiornato dei Responsabili del Trattamento dati di cui alla presente informativa è consultabile presso l’Amministratore di <strong>Sea for All</strong>, Stefano Pellerano, in Via Fornara 3, 20147, Milano. In ogni momento Lei potrà esercitare i diritti di cui all’art. 7 D. Lgs. 196/2003 qui di seguito trascritto, rivolgendosi al "Responsabile del trattamento dei dati personali", <strong>Sea for All</strong> Via Fornara 3, 20147, Milano, e-mail <%= mail_to "privacy@seaforall.com" %>:
		</p>
		<p>
			<ol>
				<li>
					L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.
				</li>
				<li>
					L'interessato ha diritto di ottenere l'indicazione:
					<ol type="a">
						<li>
							dell'origine dei dati personali;
						</li>
						<li>
							delle finalità e modalità del trattamento;
						</li>
						<li>
							della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici;
						</li>
						<li>
							degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'articolo 5, comma 2;
						</li>
						<li>
							dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.
						</li>
					</ol>
				</li>
				<li>
					L'interessato ha diritto di ottenere:
					<ol type="a">
						<li>
							l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati;
						</li>
						<li>
							la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;
						</li>
						<li>
							l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.
						</li>
					</ol>
				</li>
				<li>
					L'interessato ha diritto di opporsi, in tutto o in parte:
					<ol type="a">
						<li>
							per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta;
						</li>
						<li>
							al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.
						</li>
					</ol>
				</li>
			</ol>
		</p>
	</div>
</div>