<% title s_("Title|Terms of Service") %>
<div class="row">
	<div class="col-sm-12">
		<h1 class="text-center">
			Condizioni Generali di Utilizzo di Sea for All
		</h1>
		<p>
			blabla
		</p>
	</div>
</div>