<% if @booking.present? %>
  <% title s_("Title|Booking's reviews") %>
<% elsif @boat.present? %>
  <% title s_("Title|Reviews about %{boat_name}") %{boat_name: @boat.name} %>
<% else %>
  <% title s_("Title|Your reviews") %>
<% end %>

<%= render 'shared/breadcrumbs' %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h1>Listing Reviews</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <%= render 'review', review: review %>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2><%= _("No reviews yet") %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>