<div class="boat-photos-carousel">
  <% boat.pictures.each do |p| %>
    <div>
      <!-- See lazy loading here http://kenwheeler.github.io/slick/ -->
      <%= image_tag nil, data: { lazy: p.image.url(:carousel_photo) } %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.boat-photos-carousel').boatCarousel();
</script>
