<% title s_("Title|All the boats") %>
<p class="text-center">
  <%= image_tag("mini-logo.png", height:"50px") %>
</p>
<div class="row boat-search-subtitle">
  <div class="col-sm-12">
    <p>
      <%= s_("All the boats that soon will be available for renting") %>
    </p>
  </div>
</div>

<div class="row">
  <% @boats.complete.each do |boat| %>
    <%= render 'boat_card', boat: boat %>
  <% end %>
</div>
