<div class="row boat-search-header">
  <div class="col-sm-12">
    <p class="text-center">
	    <img class="logo" src="<%= aws_image_path_for 'sfa-logo-hor-white-navbar.png' %>" alt="SEA FOR ALL | Condividi la tua barca e risparmia sui costi di gestione">
	  </p>
  </div>
</div>

<div class="row boat-search-subtitle">
  <div class="col-sm-12">
    <h1><%= s_("All the boats that soon will be available for renting") %></h1>
  </div>
</div>

<div class="row boat-search-results">
  <% @boats.complete.each do |boat| %>
    <%= render 'boat_card', boat: boat %>
  <% end %>
</div>
