<div class="row">
  <div class="col-sm-12">
    <h1><%= s_("All the boats that soon will be available for renting") %></h1>
  </div>
</div>

<div class="row">
  <% @boats.complete.each do |boat| %>
    <%= render 'boat_card', boat: boat %>
  <% end %>
</div>
